@import "reset.css";
body {
  width: 100%;
  height: 100vh;
  display: flex;
  font-weight: 600;
}

.info {
  width: 45%;
  height: 100vh;
  padding-left: 75px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info h1 {
  font-size: 70px;
  margin-top: 105px;
  width: 50%;
  color: #e7473c;
  letter-spacing: 5px;
  line-height: 70px;
}
.info .bottom h3 {
  width: 50%;
  color: #e7473c;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.info .bottom p {
  width: 70%;
}
.info .bottom p:not(footer > p) {
  color: #e7473c;
}
.info .bottom ul {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 0;
}
.info .bottom ul li {
  list-style: none;
  margin-right: 10px;
}
.info .bottom ul li a {
  color: #606080;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #606080;
  font-size: 14px;
}
.info .bottom ul li a:hover {
  text-shadow: 1px 1px 1px #606080;
}
.info .bottom footer {
  color: #606080;
  font-size: 10px;
  margin-bottom: 75px;
}

.contents {
  box-sizing: content-box;
  width: 55%;
  padding-left: 45%;
  height: 500vh;
  background-color: #e7473c;
}

.content {
  padding-left: 10%;
  color: #f0f0f0;
  background: linear-gradient(#e7372b 0.1%, #e7473c);
}
.content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  width: 90%;
}
.content .header h4 {
  font-size: 45px;
}
.content .header .director {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  font-size: 14px;
}
.content img {
  width: 90%;
  height: 40vh;
  margin: 30px 0 50px 0;
  background-color: #831d16;
  filter: brightness(0.7);
}
.content img:hover {
  filter: brightness(1);
}
.content p {
  width: 90%;
}
.content .movie-rating,
.content .footer {
  width: 90%;
}
.content .movie-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.content .movie-rating .rating {
  color: #831d16;
}
.content .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  color: #831d16;
  padding-bottom: 3vh;
}
.content .footer a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid #831d16;
}
.content .footer a:hover {
  text-shadow: 1px 1px 1px #f0f0f0;
}

@media screen and (max-width: 920px) {
  body {
    flex-direction: column;
  }
  body .info {
    position: static;
    width: 100%;
  }
  body .info h1 {
    margin-bottom: 50px;
  }
  body .contents {
    width: 100%;
    padding: 0;
  }
}